<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1">
    <header>
        <identifier version="1" id="com.serena.air.plugin.MicroFocus-SRF"
                    name="Micro Focus StormRunner Functional"/>
        <description>
            The Micro Focus StormRunner Functional plugin enables you to execute functional tests as part of your deployment process.
        </description>
        <tag>Quality/Micro Focus/StormRunner Functional</tag>
    </header>
    <!-- ==================================== -->
    <!--   PLUGIN STEPS                       -->
    <!-- ==================================== -->
    <step-type name="Run Test">
        <description>Run a functional test.</description>
        <properties>
            <property name="workspaceId" required="true">
                <property-ui type="textBox" default-value="${p:application/srf.workspaceId}" label="Workspace Id"
                             description="The id of the workspace that contains the tests."/>
            </property>
            <property name="testId" required="true">
                <property-ui type="textBox" label="Test Id" description="The id of the test to run."/>
            </property>
            <property name="srfServerUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.serverUrl}" label="StormRunner Server URL"
                             description="The StormRunner Functional server URL, e.g. https://ftaas-eu1.saas.hpe.com"/>
            </property>
            <property name="srfUser" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.user}" label="StormRunner User"
                             description="The user id to be used to connect to the StormRunner Functional server."/>
            </property>
            <property name="srfPassword" required="true">
                <property-ui type="secureBox" default-value="${p:system/srf.password}" label="StormRunner Password"
                             description="The password to be used to connect to the StormRunner Functional server."/>
            </property>
            <property name="tenantId" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.tenantId}" label="StormRunner Tenant Id"
                             description="The tenant id on the Storm Runner Functional server."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                properties.put("Status", "Success");
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    scanner.register("(?i)Test result: Failed",  function(lineNumber, line) {
                        commandOut.println("Received Error");
                        commandOut.println(lineNumber.toString() + " : " + line);
                        var errors = properties.get("Error");
                        if (errors == null) {
                            errors = new java.util.ArrayList();
                        }
                        errors.add(line);
                        properties.put("Error", errors);

                        properties.put("Status", "Failure");
                    });
                    scanner.scan();

                    var errors = properties.get("Error");
                    if (errors == null) {
                        errors = new java.util.ArrayList();
                    }
                    properties.put("Error", errors.toString());
                }
            ]]>
        </post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="run_test.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
    <step-type name="Check Status">
        <description>Check the status of functional test run.</description>
        <properties>
            <property name="workspaceId" required="true">
                <property-ui type="textBox" default-value="${p:application/srf.workspaceId}" label="Workspace Id"
                             description="The id of the workspace that contains the tests."/>
            </property>
            <property name="runId" required="true">
                <property-ui type="textBox" label="Test Run Id" default-value="${p:prevStep/testRunId}"
                             description="The id of the test run to check the status of."/>
            </property>
            <property name="pollStatus" required="false">
                <property-ui type="checkBox" label="Poll Status"
                             description="Poll the status until the test run has succeeded or failed."/>
            </property>
            <property name="pollInterval" required="true">
                <property-ui type="textBox" default-value="60" label="Poll Interval"
                             description="Interval in seconds between polls, default is 60s."/>
            </property>
            <property name="srfServerUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.serverUrl}" label="StormRunner Server URL"
                             description="The StormRunner Functional server URL, e.g. https://ftaas-eu1.saas.hpe.com"/>
            </property>
            <property name="srfUser" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.user}" label="StormRunner User"
                             description="The user id to be used to connect to the StormRunner Functional server."/>
            </property>
            <property name="srfPassword" required="true">
                <property-ui type="secureBox" default-value="${p:system/srf.password}" label="StormRunner Password"
                             description="The password to be used to connect to the StormRunner Functional server."/>
            </property>
            <property name="tenantId" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.tenantId}" label="StormRunner Tenant Id"
                             description="The tenant id on the Storm Runner Functional server."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    properties.put("Status", "Success");
                }
            ]]>
        </post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="check_status.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
    <step-type name="Publish Results to HTML">
        <description>Publish the results of a test run to a file in HTML format.</description>
        <properties>
            <property name="workspaceId" required="true">
                <property-ui type="textBox" default-value="${p:application/srf.workspaceId}" label="Workspace Id"
                             description="The id of the workspace that contains the tests."/>
            </property>
            <property name="runId" required="true" >
                <property-ui type="textBox" label="Test Run Id" default-value="${p:prevStep/testRunId}"
                             description="The id of the test run to check the status of."/>
            </property>
            <property name="outputFile" required="true">
                <property-ui type="textBox" default-value="results.html" label="Output File"
                             description="The name of the output file to create, default is 'results.html'."/>
            </property>
            <property name="srfServerUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.serverUrl}" label="StormRunner Server URL"
                             description="The StormRunner Functional server URL, e.g. https://ftaas-eu1.saas.hpe.com"/>
            </property>
            <property name="srfUser" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.user}" label="StormRunner User"
                             description="The user id to be used to connect to the StormRunner Functional server."/>
            </property>
            <property name="srfPassword" required="true">
                <property-ui type="secureBox" default-value="${p:system/srf.password}" label="StormRunner Password"
                             description="The password to be used to connect to the StormRunner Functional server."/>
            </property>
            <property name="tenantId" required="true">
                <property-ui type="textBox" default-value="${p:system/srf.tenantId}" label="StormRunner Tenant Id"
                             description="The tenant id on the Storm Runner Functional server."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    properties.put("Status", "Success");
                }
            ]]>
        </post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="publish_results.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
</plugin>
